.contact-container {
  padding: 50px 30px;

  @include for-tablet-sm {
    width: 80%;
    margin: 0 auto;

    p {
      margin-left: 20px;
    }
  }

  @include for-desktop {
    width: 70%;
  }

  p {
    color: $decoration-color-darkmode;
  }

  a {
    width: 100%;
    font-size: 20px;
    color: $text-color-darkmode;
    display: block;
    padding-bottom: 10px;
  
    &:hover {
      color: $decoration-color-darkmode;
    }
  
    @include for-tablet-sm {
      text-align: center;
      padding-bottom: 50px;
      font-size: 30px;
    }
  }
}

.other-links {

  @include for-tablet-sm {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
  }

}

img {
  width: 20%;
  margin-right: 40px;

  @include for-tablet-sm {
    width: 100px;
    display: block;
    margin: 0 auto;
  }
}