.proofs-container {
  padding: 50px 30px;
  overflow: hidden;

  @include for-tablet-portrait {
    width: 80%;
    margin: 0 auto;
  }

  p {
    color: $decoration-color-darkmode;
  }
}

.proofs-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    width: 90%;
    padding: 30px 10px;
    margin: 20px 0;
    text-align: center;
    border: 3px solid $text-color-darkmode;
    border-radius: 50px;
    font-size: 20px;
    color: $text-color-darkmode;
    cursor: pointer;

    @include for-tablet-portrait {
      width: 60%;
    }

    &:hover {
      color: $background-color-darkmode;
      background-color: $text-color-darkmode;
    }
  }
}

