// fonts

h1 {
  font-size: 30px;
  margin: 0;
  color: aliceblue;
  font-family: 'Space Mono', monospace;
  padding: 0;
  text-align: start;

  @include for-tablet-sm {
    font-size: 45px;
  }

  @include for-tablet-bg {
    font-size: 55px;
  }

  @include for-tablet-landscape {
    font-size: 35px;
  }

  @include for-tablet-landscape-bg {
    font-size: 45px;
  }

  @include for-desktop {
    font-size: 45px;
  }
}

h2 {
  font-size: 25px;
  margin: 0;
  color: aliceblue;
  font-family: 'Space Mono', monospace;

  @include for-tablet-sm {
    font-size: 35px;
  }

  @include for-tablet-bg {
    font-size: 45px;
  }

  @include for-tablet-landscape {
    font-size: 25px;
  }

  @include for-tablet-landscape-bg {
    font-size: 35px;
  }

  @include for-desktop {
    font-size: 35px;
  }
}

p {
  font-size: 16px;

  @include for-tablet-sm {
    font-size: 25px;
  }

  @include for-tablet-bg {
    font-size: 30px;
  }

  @include for-tablet-landscape {
    font-size: 20px;
  }

  @include for-desktop {
    font-size: 20px;
  }
}

.decor {
  color: $decoration-color-darkmode;
}