// fonts

h1 {
  font-size: 30px;
  margin: 0;
  color: aliceblue;
  font-family: 'Space Mono', monospace;
  padding: 0;
  text-align: start;

  @include for-tablet-portrait {
    font-size: 45px;
  }
}

h2 {
  font-size: 25px;
  margin: 0;
  color: aliceblue;
  font-family: 'Space Mono', monospace;

  @include for-tablet-portrait {
    font-size: 35px;
  }
}

p {
  font-size: 16px;

  @include for-tablet-portrait {
    font-size: 25px;
  }
}

.decor {
  color: $decoration-color-darkmode;
}