.footer-container {

  overflow-x: hidden;

  @include for-tablet-sm {

    background: no-repeat url(../public/splash.svg);
    background-position: right -50px top 40px;
    background-size: 500px;
  }

  .footer-content {
    padding: 50px 20px;

    @include for-tablet-sm {
      width: 80%;
      margin: 0 auto;
    }

    .made-with {

      @include for-desktop {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }

    ul {
      width: 80%;

      @include for-desktop {
        width: 30%;
      }

      li {
        font-size: 20px;
        padding-left: 20px;

        @include for-tablet-sm {
          font-size: 25px;
        }

        @include for-tablet-landscape {
          font-size: 20px;
        }

        @include for-tablet-landscape-bg {
          font-size: 25px;
        }
      }

      .code {
        color: $background-color-darkmode;
        padding-left: 0;
      }
    }

  }


  .footer-bottom {
    text-align: center;
    font-size: 16px;

    span {
      font-family: 'Inspiration', cursive;
    }
  }
}
